---
class: timeline
title: 150 Years of Building Commerce
description: As we mark the 150th anniversary of the bank, we have selected some of the important milestones we have passed along the way to reflect on both the work and the sustained values that have built the Commerce Bank of today.
---


extends ../layout/timeline-base

block seo
  title= title
  meta(name="description" content="#{description}")


block content

  #dasky
    each slide, index in slides
      .step(class = slide.animation, id = "step-"+index)
        .dsk-circle
        h2.dsk-circle-date=slide.year
        .dsk-content(class = slide.img ? undefined : "no-image")
          .dsk-info
            h2.date__heading=slide.year
            p=slide.content
            if slide.mobile_content
              p.mobile-only=slide.mobile_content
            if slide.read_more
              a(href="#{slide.read_more}" target="blank" class="read-more-link")
                | Visit Commerce Bank
                icon(name="ei-external-link")
          if slide.img
            .media
              img(src="img/#{slide.img}", alt="")